/*
// TYPOGRAPHY /////////////////////////////////////////////////////////////////
*/

h2 {
    font-size: 24px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
}

.dropdown {
    position: relative;
    width: 143px;
    height: 17px;
    margin: 3px -22px 0 0;
    text-align: left;
    color: #555;
}

.submenu {
    display: none;
    position: absolute;
    top: -12px; left: -20px;
    background: #fff;
    width: 135px;
    margin-left: 10px;
    padding: 40px 0 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    z-index: 100;
}

.dropdown li a {
    display: block;
    font-family: Arial;
    padding: 6px 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #555555;
}

.dropdown li a:hover {
    background: #155FB0;
    text-decoration: none;
    color: #FFFFFF;
}

a.account {
    display: block;
    position: absolute;
    background: url(icons/arrow.png) 116px 17px no-repeat;
    width: 121px;
    height: 28px;
    margin: -11px 0 0 -10px;
    padding: 11px 0 0 20px;
    text-decoration: none;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
    z-index: 110;
    color: #555;
}

.root {
    margin: 0px;
    padding: 11px 0 0 0px;
    border-top: 1px solid #dedede;
    list-style: none;
    font-size: 11px;
}

#container {
    overflow: auto;
}

#dialog-help > li {
    display: list-item;
}

.pull-right {
    float: right !important;
}

/*
// BUTTONS ////////////////////////////////////////////////////////////////////
*/

.modal textarea.modal-input,
.modal input[type="text"].modal-input {
    width: 80%;
}

.crateit input[type="text"],
.crateit input[type="password"],
.crateit input[type="search"],
.crateit input[type="number"],
.crateit input[type="email"],
.crateit input[type="url"],
.crateit input[type="time"],
.crateit textarea,
.crateit select,
.crateit button,
.crateit input[type="button"],
.crateit .button,
.crateit #quota,
.crateit .pager li a,
.container-metadata input[type="button"] {
    display: inline-block;
    /* width: 10em; */
    height: 36px;
    margin: 0.3em;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-weight: normal;
    /* font-size: 1em; */
    outline: none;
    /* color: #333; */

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bar-actions {
    position: fixed;
    top: 45px; right: 0; left: 0;
    background-color: #eee;
    /* height: 44px; */
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    z-index: 999;
}

.bar-actions img.icon {
    float: left;
    display: inline-block;
    background: url('/owncloud/core/css/../img/breadcrumb.svg?2014-04-29T01:26:40Z') no-repeat right center;
    height: 44px;
    margin: 0 20px 0 0;
    padding: 9px 25px 4px 10px;
    font-weight: normal;
    border-radius: 3px;
    outline: none;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bar-actions form {
    float: left;
    display: inline-block;
}

.bar-actions button,
.bar-actions .button {
    display: inline;
    height: 36px;
    padding: 7px 10px;
    font-size: 14px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {}

#files {
    position: absolute;
    right: 290px; left: 0;
    min-width: 800px;
    margin-top: 45px;
    overflow-x: auto;
}

#files ul {
    margin: 0;
    padding: 0;
}

#files li > div.jqtree-element {
    display: block;
    position: relative;
    height: 50px;
    vertical-align: middle;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.jqtree-element {
    background-color: #FFF;
    background-repeat: no-repeat;
}

#files div.jqtree-element:hover {
    background-color: rgb(240, 240, 240);
}

#files div.jqtree-element ul.crate-actions {
    display: none;
}

#files div.jqtree-element:hover ul.crate-actions {
    display: block;
}

#files ul.jqtree-tree li > div.jqtree-element span.jqtree-title {
    position: absolute;
    top: 16px; left: auto;
    max-width: 800px;
    margin-left: 70px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    color: #000;
}

#files li > div.jqtree-element .jqtree-toggler {
    display: block;
    position: absolute;
    top: 40%; left: auto;
    border-bottom: none;
    font-family: arial;
    line-height: 12px;
    font-size: 12px;
    color: #333;
}

#files .jqtree-element {
    position: relative;
    background-position: 8px center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 100%;
    height: 2.5em;
    border-bottom: 1px solid #eee;
    font-style: normal;

    -webkit-transition: background-image 500ms;
    -moz-transition: background-image 500ms;
    -o-transition: background-image 500ms;
    transition: background-image 500ms;
}

#files ul.jqtree-tree li.jqtree-folder .jqtree-title {
    margin-left: 40px;
}

#files ul.jqtree-tree li.jqtree-selected > .jqtree-element,
#files ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    /* background-color: rgb(240, 240, 240); */
}

#files ul.jqtree-tree .jqtree-toggler {
    display: block;
    position: absolute;
    top: 30%; left: 20px;
    border-bottom: none;
    font-family: arial;
    line-height: 12px;
    font-size: 12px;
    color: #333;
}

#files .crate-actions {
    margin: 0 60px 0 0;
}

#files .crate-actions li {
    display: inline-block;
    margin: 0 30px 0 0;
}

#files .crate-actions a {
    line-height: 50px;
    opacity: .5;
}

#files .crate-actions a:hover {
    opacity: 1;
}

#files .crate-actions i {
    margin-right: 5px;
}

/*
// BOOTSTRAP STYLES ///////////////////////////////////////////////////////////
*/

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    vertical-align: middle;
    white-space: nowrap;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.input-group {
    display: table;
    position: relative;
    border-collapse: separate;
}

.btn {
    display: inline-block;
    background-image: none;
    margin-bottom: 0;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: 1.42857143;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    background-color: rgba(240, 240, 240, 0.9);
    border-color: #ccc;
    color: #333;
}

.input-group-btn > .btn {
    position: relative;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}

.form-control,
.container-metadata .form-control {
    display: block;
    background-color: #fff;
    background-image: none;
    width: 100%;
    margin: 0;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    line-height: 1.42857143;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
}

.container-metadata .btn {
    margin: 0;
}

.input-group .form-control {
    float: left;
    width: 100%;
    margin-bottom: 0;
    z-index: 2;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*
// METADATA CONTAINER /////////////////////////////////////////////////////////
*/

.container-metadata {
    position: fixed;
    top: 90px; right: 0; bottom: 0;
    background: #FFF;
    width: 290px;
    padding: 0;
    border-left: 1px solid #CCC;
    overflow-y: hidden;
}

.container-metadata #description_box label {
    height: 49px;
    font-size: 14px;
    font-weight: bold;
}

.container-metadata .metadata {
    margin:15px 0 20px 0;
}

.container-metadata #description_box textarea {
    width: 100%;
    min-height: 100px;
    margin: 0;
    resize: vertical;
}

.container-metadata #name_box label {
    height: 49px;
    font-size: 14px;
    font-weight: bold;
}

.container-metadata .metadata {
    margin:15px 0 20px 0;
}

.container-metadata #name_box textarea {
    margin: 0;
    width: 230px !important;
}

.container-metadata .data-creators ul#creators {
    padding: 0 0 20px 0;
}

.container-metadata .data-creators li {
    padding: 14px 0;
    border-bottom: 1px solid #EEE;
}

#selected_creators .mint {
    display: none;
}

.container-metadata .data-primarycontacts #search_primarycontacts_result_box {
    clear: both;
}

.container-metadata .data-primarycontacts li {
    padding: 14px 0;
    border-bottom: 1px solid #EEE;
}

#access_conditions_options .message.success {
    display: none;
    padding: 7px 10px;
    text-align: right;
    color: #0ba755;
}

#access_conditions_options .message.error {
    display: none;
    padding: 7px 10px;
    text-align: right;
    color: #e43434;
}

#selected_fors .mint {
    display: none;
}

.container-metadata .data-fors ul#for {
    padding: 0 0 20px 0;
}

.container-metadata .data-fors li {
    padding: 14px 0;
    border-bottom: 1px solid #EEE;
}

.container-metadata h6.for_keywords_heading {
    margin-top: 3em;
    padding-bottom: 5px;
}

#for_keywords_container {
    position: relative;
    overflow: hidden;
}

#for_keywords_container #for_keywords {
    margin: 1em 0 0 0;
    padding-right: 58px;
}

#for_keywords_container #save_keywords {
    position: absolute;
    top: 14px; right: 0;
    margin: 0;
}

#for_keywords_container .message {
    display: none;
    padding: 7px 10px;
    text-align: right;
    color: #0ba755;
}

.container-metadata li .metadata_heading {
    padding-right:34px;
    font-weight:bold;
}

.container-metadata .trans-button {
    font-size:14px;
    background:none;
    border:none;
    padding:0;
    margin:0;
}

.container-metadata .trans-button i.muted {
    color:#ccc;
}

.container-metadata .input-group {
    margin:15px 0 10px 0;
}

.container-metadata .input-group:first-child {
    margin:0 0 10px 0;
}

.container-metadata .grant-numbers ul#activities {
    padding: 0 0 20px 0;
}

.container-metadata .grant-numbers li {
    padding: 14px 0;
    border-bottom: 1px solid #EEE;
}

.container-metadata .grant-numbers label,
.container-metadata .data-creators label,
.container-metadata .data-primarycontacts label,
.container-metadata .data-fors label,
.container-metadata .crate-size label,
.container-metadata .embargo-enabled label,
.container-metadata .embargo-until label,
.container-metadata .embargo-info label  {
    font-weight: bold;
}
.container-metadata .nothing-selected {
    color:#777;
    margin-top:15px;
}

/*
// PANELS //////////////////////////////////////////////////////////////////////
*/

.panel-group {
    height:100%;
    margin:0;
}

.panel-group .panel,
.panel-group .panel + .panel {
    border-radius:0;
    border:none;
    margin:0;
}

.panel-default > .panel-heading {
    border-radius:0;
    border-top:solid 1px #eee;
    border-bottom:solid 1px #eee;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.panel-heading h4.panel-title {
    font-size:14px;
    font-weight:bold;
}

.panel-heading h4.panel-title i {
    margin-top:2px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border:none;
}

.panel-body {
    padding: 20px 20px 10px 20px;
    overflow:scroll;
}

.panel-body h6 {
    text-transform:uppercase;
    font-weight:bold;
    margin:0;
    padding-bottom:10px;
    font-size:11px;
    border-bottom: solid 1px #eee;
}

.panel-body h6 .standard {
    font-weight:normal;
}

.panel-body h6.info {
    border-bottom:none;
    margin:0;
    padding:0;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
         -o-transition: height .35s ease;
            transition: height .35s ease;
}

/*
// FOOTER //////////////////////////////////////////////////////////////////////
*/

footer.attribution {
    position: fixed;
    left: 80px;
    right: 290px;
    bottom: 0;
    text-align: center;
}

/*
// MODAL ///////////////////////////////////////////////////////////////////////
*/

.modal section {
    margin-bottom: 20px;
}

.modal section h3 {
    margin-bottom: 5px;
}

.modal-footer button {
    margin: .3em;
    padding: .6em .5em .4em;
    font-size: 1em;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    padding: 7px 10px;
    font-weight: normal;
    font: normal 14px "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
}

.modal-header .close {
    margin-top: -2px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

h4, .h4 {
    font-size: 18px;
}

#search_people_results button {
    float: right;
}

#search_for_results button {
    float: right;
}

#files ul.jqtree-tree li > div.jqtree-element.rootfolder span.jqtree-title {
    font-size: x-large;
    padding-left: 20px;
    overflow: visible;
}

.row {
    margin-left:-15px;
    margin-right:-15px;
}

.col-1, .col-2, .col-3, .col-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
    box-sizing: border-box;
}

.col-1 {
    width:100%;
}

.col-2 {
    width:50%;
}

.col-3 {
    width:33.33%;
}

.col-4 {
    width:25%;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}

.clearfix:after,
.row:after {
    clear: both;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.modal section.publish-body {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:20px;
    margin-bottom:30px;
}

.modal .row h6 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding:0;
    font-size: 11px;
}

.modal .publish-meta  > div > ul > div > span {
    display:block ;
    word-wrap: break-word;
}

.modal .publish-meta div > span:first-child {
    font-weight: bold;
}

.modal .publish-meta > div > ul > div  {
    margin-bottom: 10px;
}

/*  Accessibility class to hide elements but make them appear to screen readers  */
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#publish-description {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#description {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

i.embargo_datetime_icon {
    display: inline !important;
}

textarea#embargo_details {
    width: 230px;
    height: 60px;
}

div.bootstrap-datetimepicker-widget {
    background-color: #FFFFFF !important;
}

/*
// BRANDING //////////////////////////////////////////////////////////////////////
*/

body#body-user.crateit #header {
    background-color: #5d5297;
}

body#body-user.crateit #files {
    width: 60%;
}

body#body-user.crateit .container-metadata {
    width: 40%;
}

.crate-message {
    margin-top: 1em;
}

table.grid {
    width: 100%;
    margin-bottom: 5em;
}

table.grid:last-of-type {
    margin-bottom: 0;
}

table.grid th {
    height: 2em;
    color: #999;
}

table.grid th,
table.grid td {
    padding: 0 0.5em 0 0.8em;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    text-align: left;
}

table.grid td {
    padding: 1em 0.5em 1em 0.8em;
}

.modal-backdrop {
    z-index: 2000;
}

.modal {
    z-index: 2010;
}

.modal .modal-dialog {
    width: 90%;
    margin: 50px auto;
}

.modal .modal-dialog .modal-content {
    overflow-y: scroll;
}

#notification-container #notification .row {
    margin-right: 0;
    margin-left: 0;
}